{
  "rules": {
    "quotes": [ "warn", "single", { "allowTemplateLiterals": true } ],
    "brace-style": ["warn", "stroustrup", { "allowSingleLine": true }],
    "keyword-spacing": [ "warn", { "before": true, "after": true } ],
    "space-before-blocks": [ "warn", "always" ],
    "space-before-function-paren": [ "warn", "always" ],
    "no-cond-assign": [ "error", "always" ],
    "no-unused-vars": [ "error" ],
    "no-var": [ "error" ],
    "semi": [ "error", "never" ],
    "comma-dangle": [ "error", "never" ],
    "prefer-const": [ "error" ],
    "no-console": [ "error" ],
    "indent": [
      "warn",
      2
    ],
    "array-bracket-spacing": [
      "warn",
      "always",
      {
        "arraysInArrays": true
      }
    ]
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}